FeatureCloud/venv
FeatureCloud/server_config
FeatureCloud/.dockerignore
FeatureCloud/FeatureCloud.egg-info/*
FeatureCloud/LICENSE
FeatureCloud/Dockerfile
FeatureCloud/README.md
FeatureCloud/requirements.txt
FeatureCloud/main.py
FeatureCloud/apps/README.md
FeatureCloud/engine/README.md
FeatureCloud/cli/README.md
FeatureCloud/cli/requirements.txt
FeatureCloud/cli/.gitignore
FeatureCloud/venv/*
FeatureCloud.egg-info
FeatureCloud.egg-info/*
FeatureCloud/venv
**/.DS_Store
build
dist
docs/_build

.idea
*.pyc
/venv/
/data/
